.todo-main {
    padding: 20px;
    margin: 20px;
    background: #ccc;
    border-radius: 5px;
}

.todo-form {
    display: flex;
    gap: 20px;

    .input {
        border-radius: 5px;
        width: 200px;
    }

    .button {
        background: rgb(46, 46, 186);
        color: #fff;
    }
}

.todo-list {
    margin-top: 20px;

    li {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .todo-delete{
        color: red;
    }

    .todo-up, .todo-down  {
        color: green;
    }

    .todo-delete, .todo-up, .todo-down {
        font-size: 18px;
    }

}